.widget {
    position: absolute;
    border-left: 6px #eee solid;
    padding-left: 6px;

    font-size: 18px;
    color: #eee;
    text-shadow: -1px -1px 1px rgb(52 52 52), -1px -1px 1px rgb(52 52 52), -1px -1px 1px rgb(52 52 52), -1px -1px 1px rgb(52 52 52);

    background-color: #00000088;
    border-radius: 8px;
    padding: 8px;

    border: 1px solid var(--color-border-dark);
    border-radius: 5px;
    box-shadow: 0 0 12px var(--color-shadow-dark);
}

.divider:not(:last-child):not(:first-child) {
    border: 1px solid #eeeeee55;
    height: 14px;
    border-radius: 6px;
    margin: 0 4px;
}

.icon {
    min-height: 24px;
    min-width: 24px;
    display: inline-flex;
    background-size: contain;
    margin-right: 6px;
    background-repeat: no-repeat;
    border-radius: 4px;
}
